
.header {
    width: 100%;
    height: 0px;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 0px;
}

.vTechLogo {
    /* background-color: red; */
    height: 45px;
    margin-top: 30px;
}

.page {
    background-color: #212121;
    font-family: 'Inter', sans-serif;
    color: #EEFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

.starter {
    background-color: #C3DB60;
    width: 100%;
    height: 620px;
    border-radius: 0px 0px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startImg {
    display: flex;
}

.startImgMob {
    display: none;
}

.container {
    /* background-color: red; */
    margin: 150px auto 100px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    width: 100%;
    background-color: #212121;
    font-size: 30px;
    letter-spacing: 10%;
    position: fixed;
    bottom: -25px;
    right: 0px;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
}

.menuText {
    margin-top: 0px;
}

.menuLink {
    text-decoration: none;
    color: #EEFFFF;
}

.menuLink:hover {
    font-size: 44px;
    color: #C3DB60;
}

.anchor {
    height: 0px;
    width: 0px;
    margin-top: -100px;
}

.aboutUs {
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    flex: row;
    justify-content: space-around;
}

.aboutUsImg{
    width: 520px;
    border-radius: 100px;
}

.velvetTech {
    font-family: 'Unbounded', sans-serif;
    font-size:50px;
    color: #C3DB60;
    font-weight: 1000;
}

.textBlockUs {
    font-size: 43px;
    height: 500px;
    width: 700px;
    margin: 0px;
}

.bigImg {
    width: 30%;
    height: 50%;
}

.blank {
    height: 30px;
    display: none;
}

.whyUs {
    background-color: #C792EA;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 50px;
}

.h2 {
    margin: 15px 35px;
    font-family: 'Unbounded', sans-serif;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #212121;
}

.bullit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.bullitIco {
    height: 90px;
    width: 90px;
    border-radius: 19px;
}
.bullitText {
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    width: 765px;
    margin: 5px 10px 5px 10px;
}

.stackBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px 0px 150px 0px;
}

.textBlock {
    margin: 0px;
    font-size: 43px;
    height: 550px;
    width: 650px;
}

.article {
    /* background-color: aqua; */
    /* text-align: justify; */
    margin-bottom: 0px;
    width: 720px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.stackImage {
    /* background-color: aliceblue; */
    margin: 0px;
    width: 500px;
    height: 500px;
}

.divider {
    /* background-color: green; */
    margin-bottom: 20px;
    size: 100%;
}

.footer {
    /* background-color: red; */
    
    width: 74%;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-between;
    align-items: end; */
}

.footerIco {
    width: 25%;
    margin: 0px 0px 60px 0px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts_text {
    font-size: 26px;
    letter-spacing: 2px;
}

.rot {
    /* background-color: #C3DB60; */
    width: 30%;
    height: 30%;
    display: none;
}
img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 10s linear 0s normal none infinite running rot;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 1090px) {
    .header {
        width: 100%;
        position: relative;
        /* height: 0px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        padding-top: 0px; */
    }
    .startImg {
        height: 70%;
    }
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .vTechLogo {
        /* background-color: red; */
        height: 40px;
        margin-top: 30px;
    }
    .rot {
        display: none;
    }
    .footer {
        /* background-color: green; */
        display:flex;
        flex-direction: row;
        /* align-items: center; */
        width: 90%;
        margin: 100px 0px 100px 0px;
    }
    .footerIco {
        width: 90%;
        margin: 0px;
    }
    .contacts {
    /* background-color: green; */
        /* display: flex; */
        align-items: center;
    }
    
    .contacts_text {
        font-size: 34px;
        letter-spacing: 2px;
    }
    .menu {
        display: none;
    }
    .container {
        /* background-color: red; */
        margin: 250px 50px 0px 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .textBlockUs {
        font-size: 60px;
        height: 350px;
        width: 90%;
        text-align: center;
        word-spacing: 0px;
        margin: 100px auto 150px auto;
    }
    .aboutUs {
        margin-top: 140px;
        margin-bottom: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutUsImg{
        display: none;
        width: 60%;
        border-radius: 100px;
    }
    .stackBlock {
        /* background-color: red; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 150px 0px 50px 0px;
    }
    .nodeJs {
        display: flex;
        flex-direction: column;
    }
    .textBlock {
        margin: 0px;
        font-size: 55px;
        text-align: center;
        word-spacing: 10px;
        margin: 25px;
        height: 350px;
        width: 930px;
    }
    .article {
        /* background-color: aqua; */
        width: 990px;
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    .image {
        margin: auto;
    }
    .stackImage {
        /* background-color: aliceblue; */
        margin: 0px;
        width: 650px;
        height: 650px;
    }
    .h2 {
        margin: 15px 35px;
        font-family: 'Unbounded', sans-serif;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #212121;
    }
    .whyUs {
        background-color: #C792EA;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        margin-bottom: 50px;
    }
    .bullitText {
        font-family: 'Roboto Mono', monospace;
        font-size: 30px;
        width: 765px;
        margin: 5px 10px 5px 10px;
    }
    .bullitIco {
        height: 120px;
        width: 120px;
        border-radius: 19px;
    }
    .bullit {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
    .velvetTech {
        font-family: 'Unbounded', sans-serif;
        font-size:100px;
        color: #C3DB60;
        font-weight: 800;
    }
    .blank {
        height: 200px;
        display: flex;
    }
    .startImg {
        display: none;
    }
    
    .startImgMob {
        display: flex;
    }
    .articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    gap: 250px;
    margin-bottom: 150px;
    }
}